<html>
    <head>
        {% render 'pagefly-header' %}
        {{content_for_header}}
    </head>
    <body>
        {% section 'announcement' %}
        <main id="main" role="main">
            {{content_for_layout}}
        </main>
    </body>
</html>